*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: 'Questrial', sans-serif;
}

/* inizio nav */
nav{
    height: 80px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.logo{
    width: 150px;
    margin: 23px 15px;   
}

.float-right{
    float: right;
}

nav ul li{
    display: inline;
    list-style: none;
    line-height: 80px;
    margin-left: 15px;
}

nav ul li:hover{
    padding-bottom: 30px;
    border-bottom: 2px solid black;
}

nav ul li a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.btn{
    background-color: #0061ff;
    color: white;
}

.btn-inizia{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-right: 15px;
}

/* inizio prova gratuita */
.prova-gratuita{
    background-color: #b4d0e7;
    height: 600px;  
}

h1{
    font-size: 68px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* inizio prova-gratuita-text */
.prova-gratuita-text{
    width: 32%;
    float: left;
}
.intro{
    font-size: 25px;
    margin-bottom: 30px;
}

.prova-gratuita-text a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.annulla{
    margin-top: 30px;
    font-size: 14px;
}

.freccia{
    font-size: 30px;
    margin-top: 30px;
}

/* inizio prova-gratuita-img */

.prova-gratuita-img{
    float: left;
    width: 65%;
    margin-bottom: 60px;
}

/* inizio piano business */
.piano-business h2{
    font-size: 65px;
    margin-bottom: 30px;
}

.fatturazione{
    font-size: 20px;
    margin-bottom: 50px;
}

.mensile{
    display: inline-block;
    margin-right: 15px;
}

.annuale{
    display: inline-block;
}

/* inizio colonne */

.col{
    float: left;
    width: 30%;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid gray;
}

.standard{
    margin-left: 5%;
    margin-right: 5%;
}

.col-header{
    text-align: center;
    border-bottom: 2px solid grey;
    padding: 20px 0;
    font-size: 20px;
}

.col-text{
    padding: 40px;
}

.top-col{
    margin-bottom: 30px;
}

.col-fix-hgt{
    padding-bottom: 80px;
}

.col-fix-hgt-2{
    padding-bottom: 32px;
}

.piani h3{
    font-size: 25px;
    margin-top: 20px;
}
.gray{
    color: gray;
}

.btn-gratis-30{
    background-color: #0061ff;
    color: white;
    display: inline-block;
    padding: 7px 15px;
    text-decoration: none;
}

.blue-link{
    color: #0061ff;
}

.brd-btm{
    padding-bottom: 30px;
    border-bottom: 1px solid gray;
}

.col h4{
    margin-top: 60px;
    font-size: 18px;
}

/* inizio enterprise */
.entreprise{
    height: 300px;
}

.enterprise-header{
    border: 1px solid grey;
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}

.enterprise-text{
    float: left;
    width: 65%;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    height: 235px;
    padding: 40px;
}

.enterprise-header{
    font-size: 20px;
}

.entreprise h3{
    font-size: 30px;
}

.entreprise h5{
    font-size: 20px;
}

.entreprise p{
    font-size: 14px;
}

.enterprise-button{
    float: left;
    border-right: 1px solid gray;
    margin: 0 auto;
    width: 35%;
    text-align: center;
    padding-top: 50px;
    height: 235px;
    border-bottom: 1px solid grey;
}

.enterprise-button a{
    text-decoration: none;
    padding: 5px;
    background-color: #0061ff;  
    color: white;
    line-height: 50px;
}

/* inizio enterprise partners */
.dropbox-partners{
    margin-top: 50px;
}

.dropbox-partners-img{
    float: left;
    width: 50%;
    margin-right: 5%;
}

.dropbox-partners-text{
    float: left;
    width: 45%;
    padding: 40px;
}

.dropbox-partners-text h3{
    font-size: 30px;
}

.btn-white{
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid black;
}

/* inizio operazioni */
.operazioni-dropbox-business{
    padding-top: 80px;
}

.operazioni-dropbox-business h2{
    font-size: 65px;
    margin-bottom: 30px;
}

/* inizio colonne operazioni */
.row{
    margin-bottom: 50px
}

.col-operations{
    float: left;
    width: 30%;
    height: 600px;
    padding: 40px;
}

.col-middle{
    margin-right: 5%;
    margin-left: 5%;
}

.img-col{
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

.img-col-2{
    height: 212px;
    margin: ;
}

.operazioni-dropbox-business h3{
    font-size: 30px;
    margin-bottom: 30px;
}
.operazioni-dropbox-business p{
    font-size: 20px;
}

/* inizio team */
.team-dropbox{
    background-color: violet;
    height: 250px;
}

.overview-team{
    background-color: royalblue;
    height: 500px;
}

.dropbox-cta{
    background-color: turquoise;
    height: 250px;
}

.faq{
    background-color: yellowgreen;
    height: 800px;
}

footer{
    background-color: slateblue;
    height: 600px;
}