*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

/* inizio nav */
nav{
    height: 80px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.logo{
    width: 150px;
    margin: 23px 15px;   
}

.float-right{
    float: right;
}

nav ul li{
    display: inline;
    list-style: none;
    line-height: 80px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.btn{
    background-color: #0061ff;
}

.btn-inizia{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-right: 15px;
}

/* inizio prova gratuita */
.prova-gratuita{
    background-color: #b4d0e7;
    height: 600px;  
}

h1{
    font-size: 70px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* inizio prova-gratuita-text */
.prova-gratuita-text{
    width: 32%;
    float: left;
}
.intro{
    font-size: 25px;
    margin-bottom: 30px;
}

.prova-gratuita-text a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.annulla{
    margin-top: 30px;
    font-size: 14px;
}

.freccia{
    font-size: 30px;
    margin-top: 30px;
}

/* inizio prova-gratuita-img */

.prova-gratuita-img{
    float: left;
    width: 65%;
}

/* inizio piano business */
.piano-business{
    background-color: lightsalmon;
    height: 800px;
}

.entreprise{
    background-color: lightgreen;
    height: 300px;
}

.dropbox-partners{
    background-color: lightslategray;
    height: 600px;
}

.operazioni-dropbox-business{
    background-color: rgb(224, 72, 98); 
    height: 1000px;
}

.team-dropbox{
    background-color: violet;
    height: 250px;
}

.overview-team{
    background-color: royalblue;
    height: 500px;
}

.dropbox-cta{
    background-color: turquoise;
    height: 250px;
}

.faq{
    background-color: yellowgreen;
    height: 800px;
}

footer{
    background-color: slateblue;
    height: 600px;
}